@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@*
  Add Use name to show up with Trip/Activity listed   
*@

<h1>All of your possible matches.</h1>
<br/>
<h3>Please Accept or decline in order to best pair you with a friend.</h3>